.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #263238;
  text-align: center;
  color: #f4f4f4;
  font-size: 20px; 
  margin-top: 20px;

}

.social {
  background-color: #aaa;
  width: 50px;
  position: absolute;
  top: 100px;
  right: 20px;
  margin-right: 1rem;
  border-radius: 50px; }
  .social ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .social ul li {
      transition: all 0.5s ease; }
      .social ul li a {
        color: #f4f4f4;
        text-decoration: none;
        font-size: 1.5rem; }
      .social ul li:hover {
        transform: scale(1.4); }

.icons a {
  text-decoration: none;
  font-size: 2rem;
  margin: 0.5rem;
  color: #f4f4f4; }

/* MAPS */
.icon-social, .btn--twitter:hover, .btn--facebook:hover, .btn--instagram:hover, .btn--youtube:hover {
  font-size: 2.5rem;
  padding: 0.5rem; }

:hover.btn--twitter {
  background-color: #55acee; }

:hover.btn--facebook {
  background-color: #3a5795; }

:hover.btn--instagram {
  background-color: #C25E30; }

:hover.btn--youtube {
  background-color: #f81111; }

/*MIXIN*/
.box {
  height: 50px;
  width: 500px;
  background-color: red; }


  /* GRIDS */

  .container-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    background: #eee;
    padding: 15px;
    margin-top: 30px;
    padding: 50px;
    margin-bottom: 100px ;
    
  }
  .container-2 img {
    width: 100%;
    display: block;
    
  }

  /* HOVER TEXTO GALERIA */
.container-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.container-3 figure {
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 10px;
  cursor: pointer;
}

.container-3 figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.container-3 figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(163, 170, 172, 0.7);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  
}

.container-3 figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.container-3 figure:hover > .capa h3{
margin-top: 30px;
margin-bottom: 15px;
}
.container-3 figure .capa h3 {
  color: #fff;
  font-weight: 400px;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
margin-top: 20px;
}
.container-3 figure .capa p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  
}
.container-3 figure:hover > img {
transform: scale(1.3);
}
/* FORMULARIO Q&A */

.imagen-1 {
  text-align: center;
  margin-top: 30px;
  
}

.faq {
  margin-bottom: 150px;
}