/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #263238;
  text-align: center;
  color: #f4f4f4;
}

.icons {
  padding-top: 1rem;
}

.icons a {
  text-decoration: none;
  font-size: 2rem;
  margin: 0.5rem;
  color: #f4f4f4;
}

.company-name {
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

/* Carrusel */
.conocenos {
  text-align: center;
  margin-top: 5rem;
}
.mt-carrusel {
  margin-top: 6rem !important;
}

.box-shadow {
  -webkit-box-shadow: 1px 5px 15px 5px #878787;
  box-shadow: 1px 5px 15px 5px #878787;
}

/* Nav Shadow */

.nav-shadow {
  -webkit-box-shadow: 2px 15px 5px -11px rgba(135, 135, 135, 0.46);
  box-shadow: 2px 15px 5px -11px rgba(135, 135, 135, 0.46);
}

/* CARDS */

.mt-card {
  margin-top: 5rem !important;
}

.valores {
  text-align: center;
  margin-bottom: 5rem;
}

/* CONTACTO */



@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
