/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #263238;
  text-align: center;
  color: #f4f4f4;
  margin-top: 30px;
}

.icons {
  padding-top: 1rem;
}

.icons a {
  text-decoration: none;
  font-size: 2rem;
  margin: 0.5rem;
  color: #f4f4f4;
}

.company-name {
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

/* Carrusel */
.conocenos {
  text-align: center;
  margin-top: 5rem;
}
.mt-carrusel {
  margin-top: 6rem !important;
}

.box-shadow {
  -webkit-box-shadow: 1px 5px 15px 5px #878787;
  box-shadow: 1px 5px 15px 5px #878787;
}

/* Navbar */

.nav-shadow {
  -webkit-box-shadow: 2px 15px 5px -11px rgba(135, 135, 135, 0.46);
  box-shadow: 2px 15px 5px -11px rgba(135, 135, 135, 0.46);
}

/* CARDS */

.mt-card {
  margin-top: 5rem !important;
}

.center-cards {
    text-align: -webkit-center;
}

.valores {
  text-align: center;
  margin-bottom: 5rem;
}

.card-hover {
  filter: none;
  transition: 0.5s;
}

.card-hover:hover {
  -webkit-box-shadow: 1px 5px 15px 5px #878787;
  filter: contrast(102%);
  box-shadow: 1px 5px 15px 5px #878787;
  cursor: pointer;
  transition: 0.5s;
}

/* Productos */

.margin {
  margin-bottom: 10rem;
  padding: 1rem;
}

.table-margin {
  margin-bottom: 10rem;
}




@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

